<html>
  <head>
  	<style>
      body {
        <% if message == "Way too high!" %>
          background: red;
        <% elsif message == "Way too low!" %>
          background: red;
        <% elsif message == "Too low!" %>
          background: lightcoral;
        <% elsif message == "Too high!" %>
          background: lightcoral;
        <% else %>
          background: lightgreen;
        <%end%>
      }
    </style>
  </head>
  <body>
    <p>
    <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>
	</p>
	<p> <%= message %> <br>
		<% if message == "You got it right!" %>
		The secret number is <%= number %>
		<% end %>
  </body>
</html>
